body {
  margin: 0;
  font-family: 'Roboto';
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: 100;
  font-size: 2em;
  border-bottom: 2px solid rgba(76, 181, 174, 1);
}