
.ScoreRow {
    transition: all 0.2s;
}

.ScoreSection-title {
    font-weight: 300;
}

.ScoreRow-active:hover {
    cursor: pointer;
    background: rgba(227, 242, 253, 0.75);
}

.ScoreRow-disabled {
    background: linear-gradient(
      to right,
      rgba(210, 236, 234, 1) 0%,
      rgba(210, 236, 234, 1) 0%,
      rgba(210, 236, 234, 1) 30%,
      rgba(227, 242, 253, 0.75) 40%
    );
    background-size: 300% 300%;
    animation: Slide 1s ease 1;
}

@keyframes Slide {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 51%;
    }
}
  
.ScoreRow-disabled:hover {
    cursor: not-allowed;
}