.ScoreSection-title {
  font-weight: 300;
}

.ScoreRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-width: 22.5rem;
  transition: all 0.2s;
  border-bottom: black solid 0.75px;
}

.ScoreRow-name {
  font-weight: 300;
}

.ScoreRow-nameScored {
  text-decoration: line-through;
}

.ScoreRow-score {
  font-weight: 300;
  color: rgba(92, 122, 255, 1);
}

.ScoreRow-scored {
  font-weight: 500;
  color: black;
}

.ScoreRow-disabled {
  background: linear-gradient(
    to right,
    rgba(210, 236, 234, 1) 0%,
    rgba(210, 236, 234, 1) 0%,
    rgba(210, 236, 234, 1) 30%,
    rgba(227, 242, 253, 0.75) 40%
  );
  background-size: 300% 300%;
  animation: slide 1s ease 1;
}

.ScoreRow-disabled:hover {
  cursor: not-allowed;
}

@keyframes slide {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ScoreRow-active:hover {
  cursor: pointer;
  background: rgba(227, 242, 253, 0.75);
}

.ScoreRow-off:hover {
  cursor: not-allowed;
}

.Scoreboard-TotalScore {
  border-bottom: 0px solid rgba(76, 181, 174, 1);
  margin: 2rem 0 0 0;
  height: fit-content;
}

.Scoreboard-HighScore {
  width: 90%;
  text-align: center;
}

.Scoreboard-restart {
  animation: restart 1s ease-out;
}

@keyframes restart {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}